<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SigmaCountdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <SigmaCountdown.Properties.Settings>
                <setting name="Year" serializeAs="String">
                        <value>2024</value>
                </setting>
                <setting name="Date" serializeAs="String">
                        <value>2024-06-07</value>
                </setting>
                <setting name="AutoS" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="TopRight" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="EventLevel_Text" serializeAs="String">
                        <value>还剩</value>
                </setting>
                <setting name="EventYear_Visibility" serializeAs="String">
                        <value>True</value>
                </setting>
        </SigmaCountdown.Properties.Settings>
    </userSettings>
</configuration>